/*
When setting the primary font stack, apply it to the Pure grid units along
with `html`, `button`, `input`, `select`, and `textarea`. Pure Grids use
specific font stacks to ensure the greatest OS/browser compatibility.
*/
html, button, input, select, textarea,
.pure-g [class *= "pure-u"] {
  /* Set your content font stack here: */
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #333333;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

/*.delivery-message-type-selector a,*/
.delivery-message-speaker a{
  display:block;
}

.delivery-message-type-selector a{
  /*float:left;
  padding:0 20% 0 0;*/
}

.delivery-message-type-selector a.text-right{
  width:49%;
  padding:0 1% 0 0;
}

.delivery-message-single{
  margin-bottom:60px;
}

.senders_messages_single{
  margin-bottom:30px;
}

.delivery-message-item{
  margin-bottom: 30px;
  background-color: #f0f0f0;
}

.width-of-page{
  max-width:1024px;
  margin:auto;
}