.button-success,
.button-error,
.button-warning,
.button-secondary {
    color: white;
    border-radius: 4px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.button-success {
    background: rgb(28, 184, 65); /* this is a green */
}

.button-error {
    background: rgb(202, 60, 60); /* this is a maroon */
}

.button-warning {
    background: rgb(223, 117, 20); /* this is an orange */
}

.button-secondary {
    background: rgb(66, 184, 221); /* this is a light blue */
}

.left{
    float:left;
}

.right{
    float:right;
}

.text-center{
    text-align: center;
}

.text-left{
    text-align: left;
}

.text-right{
    text-align: right;
}

textarea {
    resize: none;
    vertical-align: top;
}

.pay-now-instructions{}
.pay-now-instructions .pay-now-total-quote,
.pay-now-instructions .pay-now-deposit,
.pay-now-instructions .pay-now-total-balance,
.pay-now-instructions .pay-now-tp-username{
    font-size: 120%;
    font-weight: bold;
}


.pay-now-instructions .pay-now-total-quote{}
.pay-now-instructions .pay-now-deposit{
    color:#1f8dd6;
}
.pay-now-instructions .pay-now-total-balance{}
.pay-now-instructions .pay-now-tp-username{}

h3 .header-deposit{
    color:#1f8dd6;
}

.home-menu a{
    /*color:#fff;
    color:rgba(31,141,214, 0.13);*/
}
.home-menu a:hover{
    /*color:rgba(31,141,214, 0.13);*/
}

.file-upload-surround .picture-show{
    max-width:100px;
}

.file-upload-surround .picture-show .upload-place-holder{
    min-height:75px;
    min-width:100px;
    background-color: #ddd;
}

.file-upload-surround .upload-progress{
    display:block;
}

.file-upload-surround .upload-progress .upload-details-box{
    padding-left:1%;
    width:99%;
}

.fileUpload {
    position: relative;
    overflow: hidden;
    margin: 10px 0 10px 0;
}
.fileUpload input.file-upload-input {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}


#map {
    width:100%;
    height: 280px;
    border-radius:5px;
    margin: 30px auto 30px auto;
}

.form-errors {
    color: red;
}

input[type="checkbox"].use_ebay{
    margin-top:24px;
    margin-bottom:0;
}

.site-secondary-menu{
    margin:0 0 30px 0;
}

.pure-menu-selected .pure-menu-link,
.pure-menu-selected .pure-menu-link:visited{
    color:#fff;
}

.pure-menu-link, .pure-menu-disabled, .pure-menu-heading{
  padding:.1em 1em;
}

.content{
    min-height:800px;
}

.pure-form input[type].narrow-submit-button{
    width:auto;
}

#collect_deliveries_info_pt1 .submit_surround,
#collect_deliveries_info_pt2 .submit_surround{
    padding-top:60px;
}

#quote_job_form textarea,
#collect_deliveries_info_pt2 textarea{
    height:150px;
    width:100%;
}

#deliveries_edit_form textarea{
    width:100%;
}

#deliveries_edit_form .use-as-main-image{
    width:auto;
    margin-top:23px;
}

#deliveries_edit_form .delete-item-button{
    cursor: pointer;
    font-size:14px;
    float:right;
    font-weight: bold;
}

#deliveries_edit_form .delete-item-button:hover{
    color:#b00;
}

#deliveries_edit_form .delete-item-button:active{
    color:olive;
}

#express_checkout_paypal_form input[type="image"]{
    width:100%;
    max-width:150px;
    border:0;
}

.delivery-message-item{
    background-color:#f0f0f0;
    margin-bottom:30px;
    padding:10px;
}

.my_delivery_item{
    margin-bottom: 30px;
}

.item_box_surround{
    background-color:#f0f0f0;
    border-radius:5px;
    padding:20px 0 20px 0;
    margin-bottom: 30px;
}

#collect_deliveries_info_pt2 .item_box_surround{
    padding:20px;
}

.item_box_surround .my-delivery-item-picture-pocket{
    padding:0 10% 0 10%;
}

.my_message_item_section{
    margin-bottom: 30px;
}

.description-box .description-box-inner,
.delivery-list-header,
.my_delivery_item .main_link,
.my_message_item_section .main_link{
    color:#1f8dd6;
    font-weight: bold;
    font-size: 21px;
    border:1px solid rgba(31,141,214, 0.13);
    background:rgba(31,141,214, 0.13);
    border-radius:5px;
    padding:20px;
    position:relative;
    display:block;
    text-decoration:none;
    vertical-align:baseline;
    line-height:24px;
}

.payment-information-box{
    margin-bottom: 30px;
}

.section-sub-title{
    color:#1f8dd6;
    font-weight: bolder;
}

.delivery-list-header,
.my_delivery_item .main_link{
    margin-bottom:20px;
}

#home-pocket .home-delivery-info{
    margin:0 0 12px 0;
}

.main_link .delivery_edit_cta{
    font-size: 12px;
    text-align: right;
}

.main_link .delivery_edit_cta a{
    text-decoration: none;
    margin-left:50px;
}

.main_link .delivery_edit_cta a:hover{
    color:#b00;
    text-decoration: underline;
    cursor: pointer;
}

#deliveries_edit_form .row{
    margin-bottom:30px;
}

#deliveries_edit_form .edit_image_box{
    max-width:130px;
}

#deliveries_edit_form .edit_items_inner_surround{
    padding:0 30px;
}

.description-box-inner h4{
    margin-top: 0;
}

.description-box-inner .particulars{
    font-size: 16px;
    font-weight: normal;
}

.description-box-inner .particulars .try-again-inner{
    margin-bottom: 30px;
}

.description-box-inner .particulars .failed-payment-delivery-details{
    padding: 30px 0;
}

.description-box-inner .particulars .picture{
    width:100px;
    min-height:60px;
    margin:0 0 20px 0;
}

.description-box-inner .particulars .particulars-items-container{
    padding:30px 0 0 0;
}

.description-box-inner .particulars .particulars-item-block{
    width:100%;
    background-color: #fff;
    border-radius:5px;
    min-height: 200px;
    margin:0 0 30px 0;
    padding:10px;
}

.description-box{
    padding:0 2%;
}

.description-box.description-box-right{
    padding-right:0;
    float:right;
}

.description-box.description-box-left{
    padding-left:0;
}

.accepted-quote-details-surround{
    margin-bottom: 20px;
}

.my_message_item_section .main_link{
    margin-bottom:10px;
}

.my_delivery_item .my_delivery_item_left_insert{
    width:95%;
}

.my_delivery_item .md-h5-label{
    margin-top:0;
    margin-bottom:0;
}

.shopping-basket-surround{
    border:#1f8dd6 solid 1px;
    border-radius: 5px;
    background-color: #5c1862;
    padding:2px 2px 14px 2px;
    color:#fff;
}

.shopping-basket-surround p{
    margin:7px 0;
}

.shopping-basket-surround .shopping-basket-title{
    text-align: center;
    font-size: 20px;
    padding-top:16px;
    padding-bottom:16px;
}

.shopping-basket-surround .shopping-basket-row{
    display: table;
    padding:12px 5%;
    border-top:#fff dotted 1px;
    width:90%;
    margin:auto;
}

.shopping-basket-surround .shopping-basket-row .basket-item-name,
.shopping-basket-surround .shopping-basket-row .basket-amount{
    display: table-cell;
    width: 25%;
}

.shopping-basket-surround .shopping-basket-row .basket-item-name{
    width:62.5%;
}

.shopping-basket-surround .shopping-basket-row .basket-amount{
    width:37.5%;
    text-align: right;
    vertical-align: baseline;
}

.shopping-basket-row .basket-total-text{
    font-size: 120%;
}

.shopping-basket-row .basket-total{
    font-size: 160%;
}

.delivery-list-header{
    padding:10px 0;
}

.delivery-list-single{
    padding:0 0 10px 0;
    margin-bottom: 30px;
    border-bottom:1px solid #ddd;
}

.my_message_item_section .my_message_item{
    margin-bottom:10px;
    padding: 10px;
    border-radius:5px;
    background-color: #f0f0f0;
}

.my_message_item .my_message_item_row,
.my_delivery_item .my_delivery_item_row{
    font-size:14px;
    color:#333333;
    margin-bottom: 10px;
}

.my_message_item .my_message_item_row{
    margin-bottom:0;
}

.my_delivery_item .my-delivery-quote-row,
.my_delivery_item .my_delivery_item_row{
    margin-bottom: 10px;
    padding-right:22px;
}

.sj_quote_summary_row{
    margin-bottom: 25px;
}

#cc_choice_pocket .cc_surround{
    max-width:650px;
}

#cc_choice_pocket .cc_image_representation{
    max-width:240px;
}

#cc_choice_pocket .cc_expiry_box{
    overflow: hidden;
}

#cc_choice_pocket .cc_expiry_box .cc_expiry_box_m,
#cc_choice_pocket .cc_expiry_box .cc_expiry_box_y,
#cc_choice_pocket .cc_expiry_box .cc_expiry_box_slash{
    float:left;
}

#cc_choice_pocket .cc_expiry_box .cc_expiry_box_slash{
    font-size: 230%;
    padding: 0 4%;
}

.cc_expiry_box_inputs_surround{
    overflow: hidden;
}

.cc_expiry_box_inputs_surround div{
    float:left;
    margin-right:4px;
}

#cc_choice_pocket .cc_expiry_box .cc_expiry_box_inputs_surround input,
#cc_choice_pocket .cc_expiry_box .cc_expiry_box_inputs_surround input{
    width:63px;
}
.cc_csc_container{
    max-width:145px;
    float:right;
}
.cc_csc_container input[type]{
    width:63%;
}

.footer .footer-pocket
{
    width:90%;
    padding:0 0 30px 0;
    margin:auto;
}

.footer .footer-pocket .footer-pocket-header
{
    padding-bottom: 15px;
    border-bottom: solid 1px #0078e7;
}

.footer .footer-pocket .footer-pocket-body
{
    font-size:16px;
    padding-top: 15px;
    overflow:hidden;
}

.footer .footer-pocket .footer-pocket-body a
{
    display: inline;
    text-decoration: none;
    color:inherit;
}

.footer .footer-pocket .footer-pocket-body a:hover
{
    color:#6FBEF3;
}

.footer .footer-pocket .social_icon{
    display:block;
    width:40px;
    float:left;
    margin:2%;
}

.quote-recalculation-box{
    font-weight:bold;
}

.quote-recalculation-box .calculated-amount{
    color:#b00;
    font-size: 160%;
}