<span data-ng-repeat="listItem  in collectionItemList">
<div class="item_group" style="margin:0 0 30px 0;">
	<div>
		<input ng-model="xx" type="checkbox" id="use_ebay" name="use_ebay" data-list-no="{{ $index }}" value="hey" ng-click="toggleEbayItem(this)" />
		<label for="use_ebay">Is this an ebay item?</label>
	</div>
	<div>
		
	</div>
	<div data-ng-switch on="listItem.ebay_item">
		<span data-ng-switch-when="true">
		    <div id="theprentImlookingfor" class="theprentImlookingfor">
			    <input id="ebayIdInput_{{$index}}" name="ebay_item_number" type="text">
				<button data-click-directive="ebay_item_button" data-list-no="{{ $index }}" type="button">Get ebay item</button>
			</div>
			<div>
			    <img data-ng-src="{{ listItem.ebay_item_image }}" />
			</div>
			<div>
		        <input type="text" value="{{ listItem.ebay_item_name }}" />
		    </div>
		</span>
		<span data-ng-switch-default>
		    Other item
		    <input type="text" value="">
		</span>
	</div>
	<div>
		<div>
			<label for="use_ebay">Estimated length of itemxx</label>
			<input type="text" />

			<label for="use_ebay">Estimated width of item</label>
			<input type="text" />

			<label for="use_ebay">Estimated height of item</label>
			<input type="text" />

			<label for="use_ebay">Estimated weight of item</label>
			<input type="text" />
		</div>
	</div>
</div>
</span>