{{#items_list}}
<div class="item_group" style="margin:0 0 30px 0;">
	<div>
		<input type="checkbox" class="use_ebay" name="use_ebay" />
		<label for="use_ebay">Is this an ebay item?</label>
	</div>


		{{#ebay_item}}
		    <div id="theprentImlookingfor" class="theprentImlookingfor">
			    <input id="ebayIdInput_{{index}}" name="ebay_item_number" type="text">
				<button data-click-directive="ebay_item_button" data-list-no="{{ index }}" type="button">Get ebay item</button>
			</div>
			<div>
			    <img data-ng-src="{{ listItem.ebay_item_image }}" />
			</div>
			<div>
		        <input type="text" value="{{ listItem.ebay_item_name }}" />
		    </div>
		{{/ebay_item}}
		{{^ebay_item}}
		    Other item
		    <input type="text" value="">
		{{/ebay_item}}


	<div>
		<div>
			<div>Estimated length of item</div>
			<div><input type="text" value="{{index}}" /></div>
		</div>
		<div>
			<div>Estimated width of item</div>
			<div><input type="text" /></div>
		</div>
		<div>
			<div>Estimated height of item</div>
			<div><input type="text" /></div>
		</div>
		<div>
			<div>Estimated weight of item</div>
			<div><input type="text" /></div>
		</div>
	</div>

<ul>{{>testh}}</ul>
</div>
{{/items_list}}