<div class="more_quote_info_communication">
    <div class="more_quote_single_message_header">
        <div class="header_quote">{{#if with_message}}<b>Quote: </b>£{{quote}}{{/if}}</div>
        <div class="header_speaker">{{user_name}}</div>
    </div>
    <div class="more_quote_single_message">{{message}}</div>
</div>