<div class="pure-g">
    <div class="pure-u-3-24">
        <img src="http://placehold.it/350x150" width="90%">
    </div>
    <div class="pure-u-21-24">
        <div class="pure-g">
            <div class="pure-u-1-3">
                <div class="pure-g">
                    <div class="pure-u-1-2"><i>Transporter</i></div>
                    <div class="pure-u-1-2">{{transporterUsername}}</div>
                </div>
                <div class="pure-g">
                    <div class="pure-u-1-2"><i>Attendants</i></div>
                    <div class="pure-u-1-2">{{attendants}}</div>
                </div>
                <div class="pure-g">
                    <div class="pure-u-1-2"><i>Will load/unload</i></div>
                    <div class="pure-u-1-2">ok</div>
                </div>
            </div>
            <div class="pure-u-1-3">
                <div class="pure-g">
                    <div class="pure-u-1-2"><i>Quote</i></div>
                    <div class="pure-u-1-2">ok</div>
                </div>
            </div>
            <div class="pure-u-1-3"></div>
        </div>
    </div>
</div>
<div><i>Communication</i></div>
<div>
    {{#each items_list}}
    {{> messageInsert}}
    {{/each}}
</div>
<div><i>Additional Information</i></div>
<div>{{additional_info}}</div>